<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head.html' %}
    {% block extrahead %}

    {% endblock %}
</head>
<body class="hold-transition skin-blue sidebar-mini">

<div class="wrapper">

    {% include 'topnavbar.html' %}

    {% include 'main_menubar.html' %}

    <div class="content-wrapper">

        <section class="content">

            {% block content %}
            {% endblock %}

        </section>

    </div>

    {% include 'footer.html' %}

</div>

{% include 'js.html' %}

{% block script %}
{% endblock %}

</body>

</html>